<div class="cv-experience sm:px-8 mt-24 md:mt-28">
        <div class="mx-auto w-full max-w-7xl lg:px-8">
            <div class="relative px-4 sm:px-8 lg:px-12">
                <div class="mx-auto max-w-2xl lg:max-w-5xl">
                    <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
                        <div class="flex flex-col gap-8 p-6">
                        <h1 class="flex font-semibold text-zinc-900 dark:text-zinc-100">
                        <svg viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" class="h-6 w-6 flex-none">
                        <path d="M2.75 9.75a3 3 0 0 1 3-3h12.5a3 3 0 0 1 3 3v8.5a3 3 0 0 1-3 3H5.75a3 3 0 0 1-3-3v-8.5Z" class="fill-zinc-100 stroke-zinc-400 dark:fill-zinc-100/10 dark:stroke-zinc-500">
                        </path>
                        <path d="M3 14.25h6.249c.484 0 .952-.002 1.316.319l.777.682a.996.996 0 0 0 1.316 0l.777-.682c.364-.32.832-.319 1.316-.319H21M8.75 6.5V4.75a2 2 0 0 1 2-2h2.5a2 2 0 0 1 2 2V6.5" class="stroke-zinc-400 dark:stroke-zinc-500">
                        </path>
                        </svg>
                        <span class="ml-3">Work Experience</span>
                        </h1>
                        {% for timeline in timelineList %}
                            <article class="group relative flex flex-col items-start">
                                <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-zinc-800/50">
                                </div>
                                <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl">
                                </span>
                                <span class="relative z-10">{{ timeline.position }}</span>
                                </h2>

                                <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                                <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-zinc-800/50">
                                </div><a href="{{ timeline.detailURL }}" target="_blank">
                                <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl">
                                </span>
                                <span class="relative z-10">{{ timeline.company }}</span>
                                </a>
                                </h3>

                                <time class="relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5" datetime="2022-09-05"><span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true"><span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span></span>{{ timeline.startDate|date('M Y') }} {% if timeline.current %} - Current {% else %} {{ timeline.endDate|date('M Y') }} {% endif %}</time>
                                <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">{{ timeline.description }}</p>
                                <div aria-hidden="true" class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500">Read more<svg viewBox="0 0 16 16" fill="none" aria-hidden="true" class="ml-1 h-4 w-4 stroke-current"><path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></div>
                            </article>
                        {% endfor %}    
                        </div>
                        <div class="skills-section space-y-10 lg:pl-16 xl:pl-24">
                            <div class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
                            <h1 class="flex font-bold text-zinc-900 dark:text-zinc-100">
                            <svg viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" class="h-6 w-6 flex-none">
                            <path d="M2.75 9.75a3 3 0 0 1 3-3h12.5a3 3 0 0 1 3 3v8.5a3 3 0 0 1-3 3H5.75a3 3 0 0 1-3-3v-8.5Z" class="fill-zinc-100 stroke-zinc-400 dark:fill-zinc-100/10 dark:stroke-zinc-500">
                            </path>
                            <path d="M3 14.25h6.249c.484 0 .952-.002 1.316.319l.777.682a.996.996 0 0 0 1.316 0l.777-.682c.364-.32.832-.319 1.316-.319H21M8.75 6.5V4.75a2 2 0 0 1 2-2h2.5a2 2 0 0 1 2 2V6.5" class="stroke-zinc-400 dark:stroke-zinc-500">
                            </path>
                            </svg>
                            <span class="ml-3">Skills</span>
                            </h1>
                                <ol class="mt-6 space-y-4">

                                <h3 class="flex font-semibold text-zinc-900 dark:text-zinc-100">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-braces-icon lucide-braces"><path d="M8 3H7a2 2 0 0 0-2 2v5a2 2 0 0 1-2 2 2 2 0 0 1 2 2v5c0 1.1.9 2 2 2h1"/><path d="M16 21h1a2 2 0 0 0 2-2v-5c0-1.1.9-2 2-2a2 2 0 0 1-2-2V5a2 2 0 0 0-2-2h-1"/></svg>
                                <span class="ml-3">Backend Stacks:</span>
                                </h3>
                                
                                {% for skill in backend %}
                                    <li class="flex gap-4">
                                    <dl class="flex flex-auto flex-wrap gap-x-2">
                                    <dd class="w-full flex-none text-sm font-medium text-zinc-900 dark:text-zinc-100">{{ skill.name }} - {{ skill.level }}%</dd>
                                    </dd>
                                    </dl>
                                    </li>
                                {% endfor %}

                                <h3 class="flex font-semibold text-zinc-900 dark:text-zinc-100">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-server-icon lucide-server"><rect width="20" height="8" x="2" y="2" rx="2" ry="2"/><rect width="20" height="8" x="2" y="14" rx="2" ry="2"/><line x1="6" x2="6.01" y1="6" y2="6"/><line x1="6" x2="6.01" y1="18" y2="18"/></svg>
                                <span class="ml-3">Server/Cloud:</span>
                                </h3>

                                {% for skill in devops %}

                                <li class="flex gap-4">
                                <dl class="flex flex-auto flex-wrap gap-x-2">
                                <dd class="w-full flex-none text-sm font-medium text-zinc-900 dark:text-zinc-100">{{ skill.name }} - {{ skill.level }}%</dd>
                                </dd>
                                </dl>
                                </li>

                                {% endfor %}

                                <h3 class="flex font-semibold text-zinc-900 dark:text-zinc-100">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-code-xml-icon lucide-code-xml"><path d="m18 16 4-4-4-4"/><path d="m6 8-4 4 4 4"/><path d="m14.5 4-5 16"/></svg>
                                <span class="ml-3">Front-end Stacks:</span>
                                </h3>

                                {% for skill in frontend %}

                                <li class="flex gap-4">
                                <dl class="flex flex-auto flex-wrap gap-x-2">
                                <dd class="w-full flex-none text-sm font-medium text-zinc-900 dark:text-zinc-100">{{ skill.name }} - {{ skill.level }}%</dd>
                                </dd>
                                </dl>
                                </li>

                                {% endfor %}

                               

                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>